html{
  margin: 0;
  padding: 0;
  height: 100%;

  body{
    #container {
      position: relative;
      min-height: 100%;
      overflow: hidden;

      #main-content {
        padding-top: 80px;
        padding-bottom: 80px;
      }
    }
  }
}

li {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}
