.diagnostic-message {
  height: 70px;
  font-size: 15px !important;
}

#button-to-find-events {
  margin: {
    top: 40px;
    bottom: 15px;
  }
  color: #808080;
}

.answer-button {
  margin-top: 40px !important;
}
