#please-diagnose-events {
  margin: 30px;
  font: {
    weight: bolder;
    size: 20px;
  }
}

.diagnostic-message {
  height: 70px;
  font-size: 16px !important;
}

#button-to-find-events {
  margin: {
    top: 40px;
    bottom: 15px;
  }
  color: #808080;
}

.answer-button {
  margin-top: 40px !important;
}

@media screen and (min-width: 769px) {
  #please-diagnose-events {
    margin-bottom: 60px;
  }
}
