/********************************
	チュートリアル
********************************/

/** モーダルウィンドウ *********/

.modal{
  padding: {
    top: 20px;
    bottom: 20px;
  }
  background-color: #fff;

  #modal-header{
    text-align: center;
  }
}

/** カルーセル *****************/

#frame-of-carousel-image{
  .carousel-image{
    margin-bottom: 0;

    .slick-list{
      height: 200px;
    }
    .operation-image{
      height: 200px;
    }
  }
}

.ui.modal.scrolling{
  .ui.grid{
    margin-top: 10px;

    .carousel-explanation{
      padding-top: 0;
    }
  }

  .slick-dotted{
    .slick-dots{
      position: static;
    }
  }
}

/********************************
	イベント一覧
********************************/

/** イベント *****************/

#events-list-in-japanese{
  margin: 30px;
  font: {
    weight: bolder;
    size: 20px;
  }
}

#search-events{
  margin: {
    top: 0;
    bottom: 10px;
  }
}

.various-events-list{
  margin: {
    top: 20px;
    bottom: 40px;
  }
}

.frame-of-segment{
  padding-left: 0;
  margin: 0;

  .segment{
    font-size: 12px;

    .events-list-image{
      width: 100%;
    }
    .event-name{
      font: {
        size: 16px;
        weight: bolder;
      }
    }
    .event-created-at{
      text-align: right;
      margin-top: 10px;
    }
    .event-organizer{
      margin-top: 15px;
    }
  }
}

.before-events,
.current-events,
.after-events{
  padding: 0;
}

@media screen and (min-width: 769px) {
  #events-list-in-japanese{
    margin-bottom: 60px;
  }

  .various-events-list{
    .all-events,
    .my-events,
    .before-events,
    .current-events,
    .after-events{
      width: 87.5%;
      margin: {
        left: auto !important;
        right: auto !important;
      }
      overflow: hidden;

      .each-event{
        float: left;
        width: 33%;
        margin: {
          top: 14px;
          left: auto;
          right: auto;
        }
      }
    }
  }
}

/** イベントをふわっと出す *****/

.animated {
  opacity: 0;     // 最初は非表示
}

/** ページトップへ戻るボタン ***/

.back-to-top {
  display: none;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 60px;
  height: 60px;
  background-color: #f0f0f0;
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
  line-height: 60px;
  color: #333;
  opacity: 0.6;
  transition: opacity 2.5s;     // ボタンとボタン内の三角形の透明度をふわっと変える演出

  &:hover {
    opacity: 1;
  }
}
