.ui.grid{
  .fourteen.wide.column{
    #event-details-image{
      width: 100%;
      padding: 5px;
      margin-top: 20px;
      margin-bottom: 5px;
    }
    #event-name{
      font-size: 20px;
      font-weight: bolder;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    #event-created-or-updated-date{
      margin-bottom: 5px;
    }
    #event-content-in-japanese{
      font-size: 18px;
      margin-bottom: 10px;
    }
    #event-date-in-japanese{
      font-size: 18px;
      margin-bottom: 10px;
    }
    #event-place-in-japanese{
      font-size: 18px;
      margin-bottom: 10px;
    }
    #event-place{
      margin-bottom: 20px;
    }
    #event-price-in-japanese{
      font-size: 18px;
      margin-bottom: 10px;
    }
    #event-price{
      margin-bottom: 20px;
    }
    #event-organizer-in-japanese{
      font-size: 18px;
      margin-bottom: 10px;
    }
    #event-cautionary-note-in-japanese{
      font-size: 18px;
      margin-bottom: 10px;
    }
  }
}

.frame-of-button-to-event-page{
  margin-top: 25px;
  margin-bottom: 35px;

  .ui.grid{
    #button-to-events-list{
      margin-bottom: 15px;

      a{
        color: gray;
      }
    }

    #button-to-edit-event{
      margin-bottom: 15px;

      a{
        color: gray;
      }
    }

    #button-to-delete-event{
      margin-bottom: 15px;

      a{
        color: white;
      }
    }
  }
}

@media screen and (min-width: 769px) {
  .ui.grid{
    .fourteen.wide.column{
      #event-details-image{
        width: 50%;
      }
    }
  }
  .map-an-event{
    margin-bottom: 10px !important;
  }
}
