/********************************
	チュートリアル
********************************/

/** モーダルウィンドウ *********/

.modal{
  padding: {
    top: 20px;
    bottom: 20px;
  }
  background-color: #fff;

  #modal-header{
    margin: 15px;
    text-align: center;
    font-weight: bold;
  }
}

@media screen and (min-width: 769px) {
  #modal-header{
    margin: 60px;
  }
}

/** カルーセル *****************/

#frame-of-carousel-image{
  .carousel-image{
    margin-bottom: 0;

    .slick-list{
      height: 200px;
    }
    .operation-image{
      border: solid 1px;
      height: 200px;
    }
  }
}

.ui.modal.scrolling{
  .ui.grid{
    margin-top: 10px;

    .carousel-explanation{
      padding-top: 0;
    }
  }

  .slick-dotted{
    margin: 0 !important;
    margin-bottom: 15px !important;

    .slick-dots{
      position: static;
    }
  }
}

@media screen and (min-width: 769px) {
  #frame-of-carousel-image{
    .carousel-image{
      .slick-list{
        height: 300px;
      }
      .operation-image{
        border: solid 1px;
        height: 300px;
      }
    }
  }
}

/********************************
	イベント一覧
********************************/

/** イベント *****************/
.sp{
  display: block;
}

.sp-inline{
  display: inline;
}

.pc{
  display: none;
}

.pc-inline{
  display: none;
}

#events-list-in-japanese{
  margin: 30px;
  font: {
    weight: bolder;
    size: 20px;
  }
}

#search-events{
  margin: {
    top: 0;
    bottom: 10px;
  }
}

.various-events-list{
  margin: {
    top: 20px;
    bottom: 40px;
  }

  .frame-of-segment{
    padding-left: 0;
    margin: 0;

    .segment{
      padding: 10px;
      font-size: 12px;

      .new_events{
        position: relative;
        background-color: #fef2f2;

        &::before{
          position: absolute;
          content: "";
          border-style: solid;
          border-width: 75px 75px 0 0;
          border-color: #f00 transparent transparent transparent;
        }
        &::after{
          position: absolute;
          content: "New!";
          transform: rotate(315deg);
          display: block;
          font-size: 18px;
          white-space: pre;
          color: #fff;
          top: 12px;
          left: 4px;
          text-align: center;
          z-index: 1;
          line-height: 1.2;
        }
      }
      .events-list-image{
        width: 100%;
        border: solid 1px;
      }
      .event-name{
        margin-top: 8px;
        font: {
          size: 16px;
          weight: bolder;
        }
      }
      .event-created-at{
        text-align: right;
        margin-top: 10px;
      }
      .event-organizer{
        margin-top: 15px;
      }
			.detail-button,
      .like-button,
      .unlike-button{
        margin: {
          top: 20px;
          bottom: 10px;
        }

        .link-to-like,
        .link-to-unlike{
          color: white;
        }
      }
    }
  }
}

.before-events,
.current-events,
.after-events{
  padding: 0;
}

@media screen and (max-width: 374px) {
  #favorite-icon{
    display: none !important;
  }
}

@media screen and (min-width: 769px) {
  .sp{
    display: none;
  }

  .sp-inline{
    display: none;
  }

  .pc{
    display: block;
  }

  .pc-inline{
    display: inline;
  }

  #events-list-in-japanese{
    margin-bottom: 60px;
  }

  .various-events-list{
    .all-events,
    .my-events,
    .favorite-events,
    .before-events,
    .current-events,
    .after-events{
      width: 87.5%;
      margin: {
        left: auto !important;
        right: auto !important;
      }
      overflow: hidden;

      .each-event{
        float: left;
        width: 33%;
        margin: {
          top: 14px;
          left: auto;
          right: auto;
        }

        .inside-of-each-event{
          padding: {
            top: 20px !important;
            right: 5px !important;
            bottom: 20px !important;
            left: 5px !important;
          }
        }
        .event-name{
          min-height: 84px !important;
        }
      }
    }
    .favorite-link-icon,
    .detail-link-icon{
      display: none;
    }
  }
}

@media screen and (min-width: 1024px) {
  .various-events-list{
    .no-event{
      padding: 30px;
    }

    .all-events,
    .my-events,
    .favorite-events,
    .before-events,
    .current-events,
    .after-events{
      .each-event{
        .event-name{
          min-height: 63px !important;
        }
      }
    }
  }
}

/** イベントをふわっと出す *****/

.animated {
  opacity: 0;
}

/** ページトップへ戻るボタン ***/

.back-to-top {
  display: none;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 60px;
  height: 60px;
  background-color: #f0f0f0;
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
  line-height: 60px;
  color: #333;
  opacity: 0.6;
  transition: opacity 2.5s;

  &:hover {
    opacity: 1;
  }
}
