footer {
  position: absolute;
  bottom: 0;
  height: 80px;
  width: 100%;
  border: {
    top: solid 1px;
    bottom: solid 1px;
  }
}

#social-medias {
  line-height: 100px;
  margin: auto;

  .one-of-the-social-medias {
    height: 20px;
    padding: 0;
    margin-top: 5px;
  }
}

@media screen and (max-width: 768px) {
  #social-medias {
    width: 90% !important;
  }
}

@media screen and (min-width: 769px) {
  #social-medias {
    width: 50% !important;
  }
}
