footer{
  background-color: #42b9d0;
  height: 80px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

#social-medias{
  line-height: 100px;

  .one-of-the-social-medias{
    margin-top: 5px;
    padding: 0px;
    height: 20px;
  }
}
