form {
  .ui.grid {
    .fourteen.wide.column {
      #please-inquire {
        margin: 30px;
        font: {
          weight: bolder;
          size: 20px;
        }
      }

      .ui.form {
        .field {
          margin-bottom: 15px;

          .ui.grid {
            .inquiry-page-frame-of-label {
              padding-bottom: 0;
            }

            .inquiry-page-frame-of-input {
              padding-top: 5px;
            }

            #inquiry-page-frame-of-submit {
              margin: {
                top: 30px;
                bottom: 60px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width : 768px) {
  .depend-on-device {
    width: 100%;
  }
}

@media screen and (min-width: 769px) {
  form {
    .ui.grid {
      .fourteen.wide.column {
        #please-inquire {
          margin-bottom: 60px;
        }

        .depend-on-device {
          width: 75%;
          margin: auto;
        }
      }
    }
  }
}
