@mixin mobile {
  @media screen and (max-width : 768px) {
    @content;
  }
}

@mixin pc {
  @media screen and (min-width: 769px) {
    @content;
  }
}

form{
  .ui.grid{
    .fourteen.wide.column{
      #please-inquire{
        font-weight: bolder;
        font-size: 20px;
        margin: 30px;
      }

      .ui.form{
        .field{
          margin-bottom: 15px;

          .ui.grid{
            .inquiry-page-frame-of-name-label{
              padding-bottom: 0px;
            }

            .inquiry-page-frame-of-name-input{
              padding-top: 5px;
            }

            .inquiry-page-frame-of-email-label{
              padding-bottom: 0px;
            }

            .inquiry-page-frame-of-email-input{
              padding-top: 5px;
            }

            .inquiry-page-frame-of-message-label{
              padding-bottom: 0px;
            }

            .inquiry-page-frame-of-message-input{
              padding-top: 5px;
            }

            #inquiry-page-frame-of-submit{
              margin-top: 30px;
              margin-bottom: 60px;
            }
          }
        }
      }
    }
  }
}

@include mobile {
  .depend-on-device{
    width: 100%;
  }
}

@include pc {
  form{
    .ui.grid{
      .fourteen.wide.column{
        #please-inquire{
          margin-bottom: 60px;
        }
        .depend-on-device{
          width: 75%;
          margin: auto;
        }
      }
    }
  }
}
