@mixin mobile {
  @media screen and (max-width : 768px) {
    @content;
  }
}

@mixin pc {
  @media screen and (min-width: 769px) {
    @content;
  }
}

form{
  .ui.grid{
    .fourteen.wide.column{
      #please-login{
        font-weight: bolder;
        font-size: 20px;
        margin: 30px;
      }

      .ui.form{
        .field{
          margin-bottom: 15px;

          .ui.grid{
            .login-page-frame-of-email-label{
              padding-bottom: 0px;
            }
            .login-page-frame-of-email-input{
              padding-top: 5px;
            }
            .login-page-frame-of-password-label{
              padding-bottom: 0px;
            }
            .login-page-frame-of-password-input{
              padding-top: 5px;
            }
            #always-login{
              padding-top: 10px;
            }
          }
        }

        #login-page-frame-of-login{
          margin: 40px;
          margin-bottom: 30px;
        }
        #login-page-frame-of-signup{
          margin-top: 30px;
          margin-bottom: 60px;
        }
      }
    }
  }
}

@include mobile {
  .mobile{
    display: block !important;
  }
  .pc{
    display: none !important;
  }
}

@include pc {
  .pc{
    display: block !important;
  }
  .mobile{
    display: none !important;
  }

  form{
    .ui.grid{
      .fourteen.wide.column{
        #please-login{
          margin-bottom: 60px;
        }

        #always-login{
          padding-top: 0px;
        }
      }
    }
  }
}
