form {
  .ui.grid {
    .fourteen.wide.column {
      #please-login {
        margin: 30px;
        font: {
          weight: bolder;
          size: 20px;
        }
      }

      .ui.form {
        .field {
          margin-bottom: 15px;

          .ui.grid {
            .login-page-frame-of-label {
              padding-bottom: 0;
            }

            .login-page-frame-of-input {
              padding-top: 5px;
            }

            #always-login {
              padding-top: 10px;
            }
          }
        }

        #login-page-frame-of-login {
          margin: {
            top: 40px;
            right: 40px;
            bottom: 30px;
            left: 40px;
          }
        }

        #login-page-frame-of-signup {
          margin: {
            top: 30px;
            bottom: 60px;
          }
        }
      }
    }
  }
}

@media screen and (max-width : 768px) {
  .depend-on-device {
    width: 100%;
  }
}

@media screen and (min-width: 769px) {
  form {
    .ui.grid {
      .fourteen.wide.column {
        #please-login {
          margin-bottom: 60px;
        }

        .depend-on-device {
          width: 75%;
          margin: auto;
        }

        #always-login {
          padding-top: 0px;
        }
      }
    }
  }
}
