form{
  .ui.grid{
    .fourteen.wide.column{
      #please-password-reset{
        font-weight: bolder;
        font-size: 20px;
        margin: 30px;
      }

      .ui.grid{
        .column{
          #procedure-of-password-reset{
            font-weight: bolder;
            text-align: center;
            margin-top: 10px;
            margin-bottom: 25px;
          }
          .step-of-password-reset{
            margin-top: 30px;
            margin-bottom: 15px;
          }
        }
      }

      .ui.form{
        margin-top: 40px;

        #password-reset-page-frame-of-submit{
          margin: 40px;
          margin-bottom: 60px;
        }
      }
    }
  }
}

@include mobile {
  .depend-on-device{
    width: 100%;
  }
}

@include pc {
  form{
    .ui.grid{
      .fourteen.wide.column{
        #please-password-reset{
          margin-bottom: 60px;
        }
        .depend-on-device{
          width: 75%;
          margin: auto;
        }
      }
    }
  }
}
