form{
  .ui.grid{
    .fourteen.wide.column{
      #please-password-update{
        margin: 30px;
        font: {
          weight: bolder;
          size: 20px;
        }
      }

      .ui.form{
        .field{
          margin-bottom: 15px;
        }
        #password-reset-page-frame-of-update{
          margin: {
            top: 40px;
            right: 40px;
            bottom: 60px;
            left: 40px;
          }
        }
      }
    }
  }
}

@media screen and (max-width : 768px) {
  .password-update-form-depend-on-device{
    width: 100% !important;
  }
}

@media screen and (min-width: 769px) {
  form{
    .ui.grid{
      .fourteen.wide.column{
        #please-password-update{
          margin-bottom: 60px;
        }
        .password-update-form-depend-on-device{
          width: 50% !important;
          margin: auto;
        }
      }
    }
  }
}
