.field{
  .ui.grid{
    #frame-of-price{
      padding-bottom: 0px;
    }

    .frame-of-input-price{
      padding: 0px !important;
      padding-left: 14px !important;
    }

    .yen-in-japanese{
      padding: 0px !important;
      padding-left: 10px !important;
    }

    .frame-of-input-year{
      padding: 0px !important;

      .input-year{
        padding: 5px;
        padding-left: 14px;

        #event_starting_year{
          padding: 10px;
        }
        #event_ending_year{
          padding: 10px;
        }
      }
    }

    .year-in-japanese{
      padding: 0px !important;
    }

    .frame-of-input-month{
      padding: 0px !important;

      .input-month{
        padding: 5px;

        #event_starting_month{
          padding: 10px;
        }
        #event_ending_month{
          padding: 10px;
        }
      }
    }

    .month-in-japanese{
      padding: 0px !important;
    }

    .frame-of-input-day{
      padding: 0px !important;

      .input-day{
        padding: 5px;

        #event_starting_day{
          padding: 10px;
        }
        #event_ending_day{
          padding: 10px;
        }
      }
    }

    .day-in-japanese{
      padding: 0px !important;
    }

    .frame-of-input-hour{
      padding: 0px !important;

      .input-hour{
        padding: 5px;
        padding-left: 14px;

        #event_starting_hour{
          padding: 10px;
        }
        #event_ending_hour{
          padding: 10px;
        }
      }
    }

    .hour-in-japanese{
      padding: 0px !important;
    }

    .frame-of-input-minute{
      padding: 0px !important;

      .input-minute{
        padding: 5px;

        #event_starting_minute{
          padding: 10px;
        }
        #event_ending_minute{
          padding: 10px;
        }
      }
    }

    .minute-in-japanese{
      padding: 0px !important;
    }
  }
}
