#toppage-image{
  width: 100%;
}

.explanation-of-application{
  margin-top: 50px;
  margin-bottom: 30px;
}

#divider-above-characteristic{
  margin-top: 60px;
}

.characteristics-of-application{
  margin-top: 50px;
  margin-bottom: 30px;
}

.one-of-the-characteristics{
  margin-bottom: 50px;
}

#divider-above-use-for-trial{
  margin-top: 60px;
}

.use-for-trial{
  margin-top: 50px;
  margin-bottom: 20px;
}

.lets-search{
  margin-bottom: 30px;
}

#map {
  width: 80%;
  height: 300px;
  margin: auto;
}

#search-field{
  margin-top: 30px;
  margin-bottom: 30px;
}

.map-explanation{
  margin-top: 40px;
  margin-bottom: 50px;
}
