form{
  .ui.grid{
    .fourteen.wide.column{
      #please-update-user-information{
        margin: 30px;
        font: {
          weight: bolder;
          size: 20px;
        }
      }

      .ui.form{
        .field{
          margin-bottom: 15px;

          .ui.grid{
            .user-update-page-frame-of-name-label,
            .user-update-page-frame-of-email-label,
            .user-update-page-frame-of-password-label,
            .user-update-page-frame-of-password-confirmation-label{
              padding-bottom: 0;
            }
            .user-update-page-frame-of-name-input,
            .user-update-page-frame-of-email-input,
            .user-update-page-frame-of-password-input,
            .user-update-page-frame-of-password-confirmation-input{
              padding-top: 5px;
            }
          }
        }

        #user-update-page-frame-of-update{
          margin: {
            top: 40px;
            right: 40px;
            bottom: 60px;
            left: 40px;
          }
        }
      }
    }
  }
}

@media screen and (max-width : 768px) {
  .depend-on-device{
    width: 100%;
  }
}

@media screen and (min-width: 769px) {
  form{
    .ui.grid{
      .fourteen.wide.column{
        #please-update-user-information{
          margin-bottom: 60px;
        }
        .depend-on-device{
          width: 75%;
          margin: auto;
        }
      }
    }
  }
}
