@mixin mobile {
  @media screen and (max-width : 768px) {
    @content;
  }
}

@mixin pc {
  @media screen and (min-width: 769px) {
    @content;
  }
}

form{
  .ui.grid{
    .fourteen.wide.column{
      #please-update-user-information{
        font-weight: bolder;
        font-size: 20px;
        margin: 30px;
      }

      .ui.form{
        .field{
          margin-bottom: 15px;

          .ui.grid{
            .user-update-page-frame-of-name-label{
              padding-bottom: 0px;
            }
            .user-update-page-frame-of-name-input{
              padding-top: 5px;
            }
            .user-update-page-frame-of-email-label{
              padding-bottom: 0px;
            }
            .user-update-page-frame-of-email-input{
              padding-top: 5px;
            }
            .user-update-page-frame-of-password-label{
              padding-bottom: 0px;
            }
            .user-update-page-frame-of-password-input{
              padding-top: 5px;
            }
            .user-update-page-frame-of-password-confirmation-label{
              padding-bottom: 0px;
            }
            .user-update-page-frame-of-password-confirmation-input{
              padding-top: 5px;
            }
          }
        }

        #user-update-page-frame-of-update{
          margin: 40px;
          margin-bottom: 60px;
        }
      }
    }
  }
}

@include mobile {
  .depend-on-device{
    width: 100%;
  }
}

@include pc {
  form{
    .ui.grid{
      .fourteen.wide.column{
        #please-update-user-information{
          margin-bottom: 60px;
        }
        .depend-on-device{
          width: 75%;
          margin: auto;
        }
      }
    }
  }
}
