<%= form_for(:password_reset, url: password_resets_path) do |f| %>
  <div class="ui center aligned grid">
    <div class="fourteen wide column">
      <div id="please-password-reset" class="center aligned">パスワードを更新する</div>

      <div class="ui center aligned grid message">
        <div class="left aligned fourteen wide column">
          <p id="procedure-of-password-reset">手順</p>
          <p>1. まずは、以下のフォームにこのアプリに登録したメールアドレスを入力し、送信してください。</p>
          <p>2. すると、そのメールアドレス宛にパスワードを更新するためのメールが届きます。</p>
          <p>3. 届いたメール内のURLをクリックすると、パスワードを更新するためのページが開かれます。</p>
          <p>4. そのページ内のフォームに新しいパスワードを入力し送信すると、そのパスワードがあなたの新しいパスワードになります。</p>
        </div>
      </div>

      <div class="ui form">
        <div class="field">
          <div class="ui left aligned grid">
            <div class="sixteen wide column">
              <%= f.label :email, '登録したメールアドレス' %>
            </div>
          </div>
          <div class="ui left icon huge input">
            <%= f.email_field :email, :placeholder => "例：case@example.com" %>
            <i class="mail icon"></i>
          </div>
        </div>

        <div class="ui center aligned grid">
          <%= button_tag :type => "submit", :id => "password-reset-page-frame-of-submit", :class =>"ui blue submit button ten wide column" do %>
            <i class="pencil alternate icon"></i>
            送信する
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
