<%= form_for(@event) do |f| %>
  <div class="ui center aligned grid">
    <div class="fourteen wide column">
      <div id="please-post-or-update-event">イベントの更新</div>
      <div class="depend-on-device ui form">
        <%= render partial: "partials/events/form", locals: { f: f } %>
        <div class="ui center aligned grid">
          <%= button_tag :type => "submit", :class =>"ui blue submit button ten wide column", :id => "event-update-page-frame-of-submit" do %>
            <i class="undo alternate icon"></i>
            更新する
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
