@charset "UTF-8";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
html body #container {
  position: relative;
  min-height: 100%;
  overflow: hidden;
}
html body #container #main-content {
  padding-top: 80px;
  padding-bottom: 80px;
}

li {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

/********************************
  ヘッダー自体
********************************/
header {
  background-color: #42b9d0;
  height: 80px;
  width: 100%;
  position: absolute;
  top: 0;
}

#header-title {
  margin-top: 20px;
}

/********************************
  ハンバーガーメニュー
********************************/
/** mobileとpcの共通の設定 *****/
#wrapper {
  font-size: 1.2rem;
  font-weight: 900;
  width: 100%;
  text-align: center;
}

#contents {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  transform: translateX(0);
  transition: .4s transform;
}

#contents {
  height: 1000px;
  background-color: #ddd;
}

#nav-btn {
  display: none;
  outline: none;
  margin-top: 7px;
}

.menu {
  z-index: 2 !important;
}
.menu ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 70px;
  background: #eaf2f4;
  padding: 0;
}
.menu ul li {
  padding: 0 20px;
  transition: all .5s;
}
.menu ul li a {
  position: relative;
  display: inline-block;
  text-decoration: none;
}
.menu ul li a:after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #333;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .3s;
}
.menu ul li a:hover::after {
  transform: scale(1, 1);
}

/** mobile特有の設定 ***********/
@media screen and (max-width: 768px) {
  #nav-btn {
    display: block;
    position: fixed;
    z-index: 11;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
  }

  .hamburger {
    position: relative;
    display: block;
    width: 50px;
    height: 44px;
  }
  .hamburger .bdr {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background: #000;
    transition: all .5s;
  }
  .hamburger .bdr:nth-child(1) {
    top: 0;
  }
  .hamburger .bdr:nth-child(2) {
    top: 20px;
  }
  .hamburger .bdr:nth-child(3) {
    bottom: 0;
  }
  .hamburger.is-active .bdr {
    background: #000;
  }
  .hamburger.is-active .bdr:nth-child(1) {
    transform: translateY(20px) rotate(-45deg);
  }
  .hamburger.is-active .bdr:nth-child(2) {
    opacity: 0;
  }
  .hamburger.is-active .bdr:nth-child(3) {
    transform: translateY(-20px) rotate(45deg);
  }

  .menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 150px;
    height: 100%;
    padding-top: 70px;
    text-align: left;
    font-size: 13px;
    background: #eaf2f4;
    z-index: 1;
    transform: translateX(150px);
    transition: .4s all;
  }
  .menu ul {
    display: block;
    width: 150px;
    line-height: 70px;
    background: none;
    color: #000;
    text-align: center;
  }
  .menu ul li {
    transition: all .5s;
  }
  .menu ul li:hover {
    background: #fff;
  }
  .menu ul li a:after {
    display: none;
  }

  .nav-open .menu {
    transform: translateX(0);
  }
  .nav-open #contents {
    transform: translateX(-150px);
  }
}
footer {
  background-color: #42b9d0;
  height: 80px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

#social-medias {
  line-height: 100px;
}
#social-medias .one-of-the-social-medias {
  margin-top: 5px;
  padding: 0px;
  height: 20px;
}

#toppage-image {
  width: 100%;
}

.explanation-of-application {
  margin-top: 50px;
  margin-bottom: 30px;
}

#divider-above-characteristic {
  margin-top: 60px;
}

.characteristics-of-application {
  margin-top: 50px;
  margin-bottom: 30px;
}

.one-of-the-characteristics {
  margin-bottom: 50px;
}

#divider-above-use-for-trial {
  margin-top: 60px;
}

.use-for-trial {
  margin-top: 50px;
  margin-bottom: 20px;
}

.lets-search {
  margin-bottom: 30px;
}

#map {
  width: 80%;
  height: 300px;
  margin: auto;
}

#search-address {
  margin-top: 30px;
  margin-bottom: 30px;
}

.map-explanation {
  margin-top: 40px;
  margin-bottom: 50px;
}

/********************************
	チュートリアル
********************************/
/** モーダルウィンドウ *********/
.modal {
  background-color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
}
.modal #modal-header {
  text-align: center;
}

/** カルーセル *****************/
#frame-of-carousel-image .carousel-image {
  margin-bottom: 0px;
}
#frame-of-carousel-image .carousel-image .slick-list {
  height: 200px;
}
#frame-of-carousel-image .carousel-image .operation-image {
  height: 200px;
}

.ui.modal.scrolling .ui.grid {
  margin-top: 10px;
}
.ui.modal.scrolling .ui.grid .carousel-explanation {
  padding-top: 0px;
}
.ui.modal.scrolling .slick-dotted .slick-dots {
  position: static;
}

/********************************
	イベント一覧
********************************/
/** イベント *****************/
#events-list-in-japanese {
  font-weight: bolder;
  font-size: 20px;
  margin: 30px;
}

#search-events {
  margin-top: 0px;
  margin-bottom: 10px;
}

.various-events-list {
  margin-top: 20px;
  margin-bottom: 40px;
}

.frame-of-segment {
  padding-left: 0px;
  margin: 0px;
}
.frame-of-segment .segment {
  font-size: 12px;
}
.frame-of-segment .segment .event-name {
  font-size: 16px;
  font-weight: bolder;
}
.frame-of-segment .segment .event-created-at {
  text-align: right;
  margin-top: 10px;
}
.frame-of-segment .segment .event-organizer {
  margin-top: 15px;
}

.before-events,
.current-events,
.after-events {
  padding: 0px;
}

/** イベントをふわっと出す *****/
.animated {
  /* 最初は非表示 */
  opacity: 0;
}

/** ページトップへ戻るボタン ***/
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #f0f0f0;
  display: none;
  text-align: center;
  text-decoration: none;
  width: 60px;
  height: 60px;
  font-size: 2rem;
  line-height: 60px;
  color: #333;
  opacity: 0.6;
  transition: opacity 2.5s;
}
.back-to-top:hover {
  opacity: 1;
}

form .ui.grid .fourteen.wide.column #please-register-new {
  font-weight: bolder;
  font-size: 20px;
  margin: 30px;
}
form .ui.grid .fourteen.wide.column .ui.form .field {
  margin-bottom: 15px;
}
form .ui.grid .fourteen.wide.column .ui.form .field .ui.grid .signup-page-frame-of-name-label {
  padding-bottom: 0px;
}
form .ui.grid .fourteen.wide.column .ui.form .field .ui.grid .signup-page-frame-of-name-input {
  padding-top: 5px;
}
form .ui.grid .fourteen.wide.column .ui.form .field .ui.grid .signup-page-frame-of-email-label {
  padding-bottom: 0px;
}
form .ui.grid .fourteen.wide.column .ui.form .field .ui.grid .signup-page-frame-of-email-input {
  padding-top: 5px;
}
form .ui.grid .fourteen.wide.column .ui.form .field .ui.grid .signup-page-frame-of-password-label {
  padding-bottom: 0px;
}
form .ui.grid .fourteen.wide.column .ui.form .field .ui.grid .signup-page-frame-of-password-input {
  padding-top: 5px;
}
form .ui.grid .fourteen.wide.column .ui.form .field .ui.grid .signup-page-frame-of-password-confirmation-label {
  padding-bottom: 0px;
}
form .ui.grid .fourteen.wide.column .ui.form .field .ui.grid .signup-page-frame-of-password-confirmation-input {
  padding-top: 5px;
}
form .ui.grid .fourteen.wide.column .ui.form .field .ui.grid #signup-page-frame-of-signup {
  margin: 40px;
  margin-bottom: 30px;
}
form .ui.grid .fourteen.wide.column .ui.form .field .ui.grid #signup-page-frame-of-login {
  margin-top: 30px;
  margin-bottom: 60px;
}

@media screen and (max-width: 768px) {
  .depend-on-device {
    width: 100%;
  }
}
@media screen and (min-width: 769px) {
  form .ui.grid .fourteen.wide.column #please-register-new {
    margin-bottom: 60px;
  }
  form .ui.grid .fourteen.wide.column .depend-on-device {
    width: 75%;
    margin: auto;
  }
}
form .ui.grid .fourteen.wide.column #please-login {
  font-weight: bolder;
  font-size: 20px;
  margin: 30px;
}
form .ui.grid .fourteen.wide.column .ui.form .field {
  margin-bottom: 15px;
}
form .ui.grid .fourteen.wide.column .ui.form .field .ui.grid .login-page-frame-of-email-label {
  padding-bottom: 0px;
}
form .ui.grid .fourteen.wide.column .ui.form .field .ui.grid .login-page-frame-of-email-input {
  padding-top: 5px;
}
form .ui.grid .fourteen.wide.column .ui.form .field .ui.grid .login-page-frame-of-password-label {
  padding-bottom: 0px;
}
form .ui.grid .fourteen.wide.column .ui.form .field .ui.grid .login-page-frame-of-password-input {
  padding-top: 5px;
}
form .ui.grid .fourteen.wide.column .ui.form .field .ui.grid #always-login {
  padding-top: 10px;
}
form .ui.grid .fourteen.wide.column .ui.form #login-page-frame-of-login {
  margin: 40px;
  margin-bottom: 30px;
}
form .ui.grid .fourteen.wide.column .ui.form #login-page-frame-of-signup {
  margin-top: 30px;
  margin-bottom: 60px;
}

@media screen and (max-width: 768px) {
  .depend-on-device {
    width: 100%;
  }
}
@media screen and (min-width: 769px) {
  form .ui.grid .fourteen.wide.column #please-login {
    margin-bottom: 60px;
  }
  form .ui.grid .fourteen.wide.column .depend-on-device {
    width: 75%;
    margin: auto;
  }
  form .ui.grid .fourteen.wide.column #always-login {
    padding-top: 0px;
  }
}
form .ui.grid .fourteen.wide.column #please-update-user-information {
  font-weight: bolder;
  font-size: 20px;
  margin: 30px;
}
form .ui.grid .fourteen.wide.column .ui.form .field {
  margin-bottom: 15px;
}
form .ui.grid .fourteen.wide.column .ui.form .field .ui.grid .user-update-page-frame-of-name-label {
  padding-bottom: 0px;
}
form .ui.grid .fourteen.wide.column .ui.form .field .ui.grid .user-update-page-frame-of-name-input {
  padding-top: 5px;
}
form .ui.grid .fourteen.wide.column .ui.form .field .ui.grid .user-update-page-frame-of-email-label {
  padding-bottom: 0px;
}
form .ui.grid .fourteen.wide.column .ui.form .field .ui.grid .user-update-page-frame-of-email-input {
  padding-top: 5px;
}
form .ui.grid .fourteen.wide.column .ui.form .field .ui.grid .user-update-page-frame-of-password-label {
  padding-bottom: 0px;
}
form .ui.grid .fourteen.wide.column .ui.form .field .ui.grid .user-update-page-frame-of-password-input {
  padding-top: 5px;
}
form .ui.grid .fourteen.wide.column .ui.form .field .ui.grid .user-update-page-frame-of-password-confirmation-label {
  padding-bottom: 0px;
}
form .ui.grid .fourteen.wide.column .ui.form .field .ui.grid .user-update-page-frame-of-password-confirmation-input {
  padding-top: 5px;
}
form .ui.grid .fourteen.wide.column .ui.form #user-update-page-frame-of-update {
  margin: 40px;
  margin-bottom: 60px;
}

@media screen and (max-width: 768px) {
  .depend-on-device {
    width: 100%;
  }
}
@media screen and (min-width: 769px) {
  form .ui.grid .fourteen.wide.column #please-update-user-information {
    margin-bottom: 60px;
  }
  form .ui.grid .fourteen.wide.column .depend-on-device {
    width: 75%;
    margin: auto;
  }
}
form .ui.grid .fourteen.wide.column #please-password-reset {
  font-weight: bolder;
  font-size: 20px;
  margin: 30px;
}
form .ui.grid .fourteen.wide.column .ui.grid .column #procedure-of-password-reset {
  font-weight: bolder;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 25px;
}
form .ui.grid .fourteen.wide.column .ui.grid .column .step-of-password-reset {
  margin-top: 30px;
  margin-bottom: 15px;
}
form .ui.grid .fourteen.wide.column .ui.form {
  margin-top: 40px;
}
form .ui.grid .fourteen.wide.column .ui.form #password-reset-page-frame-of-submit {
  margin: 40px;
  margin-bottom: 60px;
}

form .ui.grid .fourteen.wide.column #please-password-update {
  font-weight: bolder;
  font-size: 20px;
  margin: 30px;
}
form .ui.grid .fourteen.wide.column .ui.form .field {
  margin-bottom: 15px;
}
form .ui.grid .fourteen.wide.column .ui.form #password-reset-page-frame-of-update {
  margin: 40px;
  margin-bottom: 60px;
}

form .ui.grid .fourteen.wide.column #please-inquire {
  font-weight: bolder;
  font-size: 20px;
  margin: 30px;
}
form .ui.grid .fourteen.wide.column .ui.form .field {
  margin-bottom: 15px;
}
form .ui.grid .fourteen.wide.column .ui.form .field .ui.grid .inquiry-page-frame-of-name-label {
  padding-bottom: 0px;
}
form .ui.grid .fourteen.wide.column .ui.form .field .ui.grid .inquiry-page-frame-of-name-input {
  padding-top: 5px;
}
form .ui.grid .fourteen.wide.column .ui.form .field .ui.grid .inquiry-page-frame-of-email-label {
  padding-bottom: 0px;
}
form .ui.grid .fourteen.wide.column .ui.form .field .ui.grid .inquiry-page-frame-of-email-input {
  padding-top: 5px;
}
form .ui.grid .fourteen.wide.column .ui.form .field .ui.grid .inquiry-page-frame-of-message-label {
  padding-bottom: 0px;
}
form .ui.grid .fourteen.wide.column .ui.form .field .ui.grid .inquiry-page-frame-of-message-input {
  padding-top: 5px;
}
form .ui.grid .fourteen.wide.column .ui.form .field .ui.grid #inquiry-page-frame-of-submit {
  margin-top: 30px;
  margin-bottom: 60px;
}

@media screen and (max-width: 768px) {
  .depend-on-device {
    width: 100%;
  }
}
@media screen and (min-width: 769px) {
  form .ui.grid .fourteen.wide.column #please-inquire {
    margin-bottom: 60px;
  }
  form .ui.grid .fourteen.wide.column .depend-on-device {
    width: 75%;
    margin: auto;
  }
}
.field .ui.grid #frame-of-price {
  padding-bottom: 0px;
}
.field .ui.grid .frame-of-input-price {
  padding: 0px !important;
  padding-left: 14px !important;
}
.field .ui.grid .yen-in-japanese {
  padding: 0px !important;
  padding-left: 10px !important;
}
.field .ui.grid .frame-of-input-year {
  padding: 0px !important;
}
.field .ui.grid .frame-of-input-year .input-year {
  padding: 5px;
  padding-left: 14px;
}
.field .ui.grid .frame-of-input-year .input-year #event_starting_year {
  padding: 10px;
}
.field .ui.grid .frame-of-input-year .input-year #event_ending_year {
  padding: 10px;
}
.field .ui.grid .year-in-japanese {
  padding: 0px !important;
}
.field .ui.grid .frame-of-input-month {
  padding: 0px !important;
}
.field .ui.grid .frame-of-input-month .input-month {
  padding: 5px;
}
.field .ui.grid .frame-of-input-month .input-month #event_starting_month {
  padding: 10px;
}
.field .ui.grid .frame-of-input-month .input-month #event_ending_month {
  padding: 10px;
}
.field .ui.grid .month-in-japanese {
  padding: 0px !important;
}
.field .ui.grid .frame-of-input-day {
  padding: 0px !important;
}
.field .ui.grid .frame-of-input-day .input-day {
  padding: 5px;
}
.field .ui.grid .frame-of-input-day .input-day #event_starting_day {
  padding: 10px;
}
.field .ui.grid .frame-of-input-day .input-day #event_ending_day {
  padding: 10px;
}
.field .ui.grid .day-in-japanese {
  padding: 0px !important;
}
.field .ui.grid .frame-of-input-hour {
  padding: 0px !important;
}
.field .ui.grid .frame-of-input-hour .input-hour {
  padding: 5px;
  padding-left: 14px;
}
.field .ui.grid .frame-of-input-hour .input-hour #event_starting_hour {
  padding: 10px;
}
.field .ui.grid .frame-of-input-hour .input-hour #event_ending_hour {
  padding: 10px;
}
.field .ui.grid .hour-in-japanese {
  padding: 0px !important;
}
.field .ui.grid .frame-of-input-minute {
  padding: 0px !important;
}
.field .ui.grid .frame-of-input-minute .input-minute {
  padding: 5px;
}
.field .ui.grid .frame-of-input-minute .input-minute #event_starting_minute {
  padding: 10px;
}
.field .ui.grid .frame-of-input-minute .input-minute #event_ending_minute {
  padding: 10px;
}
.field .ui.grid .minute-in-japanese {
  padding: 0px !important;
}

.ui.grid .fourteen.wide.column #event-details-image {
  width: 100%;
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 5px;
}
.ui.grid .fourteen.wide.column #event-name {
  font-size: 20px;
  font-weight: bolder;
  margin-top: 15px;
  margin-bottom: 15px;
}
.ui.grid .fourteen.wide.column #event-created-or-updated-date {
  margin-bottom: 5px;
}
.ui.grid .fourteen.wide.column #event-content-in-japanese {
  font-size: 18px;
  margin-bottom: 10px;
}
.ui.grid .fourteen.wide.column #event-date-in-japanese {
  font-size: 18px;
  margin-bottom: 10px;
}
.ui.grid .fourteen.wide.column #event-place-in-japanese {
  font-size: 18px;
  margin-bottom: 10px;
}
.ui.grid .fourteen.wide.column #event-place {
  margin-bottom: 20px;
}
.ui.grid .fourteen.wide.column #event-price-in-japanese {
  font-size: 18px;
  margin-bottom: 10px;
}
.ui.grid .fourteen.wide.column #event-price {
  margin-bottom: 20px;
}
.ui.grid .fourteen.wide.column #event-organizer-in-japanese {
  font-size: 18px;
  margin-bottom: 10px;
}
.ui.grid .fourteen.wide.column #event-cautionary-note-in-japanese {
  font-size: 18px;
  margin-bottom: 10px;
}

.frame-of-button-to-event-page {
  margin-top: 25px;
  margin-bottom: 35px;
}
.frame-of-button-to-event-page .ui.grid #button-to-events-list {
  margin-bottom: 15px;
}
.frame-of-button-to-event-page .ui.grid #button-to-events-list a {
  color: gray;
}
.frame-of-button-to-event-page .ui.grid #button-to-edit-event {
  margin-bottom: 15px;
}
.frame-of-button-to-event-page .ui.grid #button-to-edit-event a {
  color: gray;
}
.frame-of-button-to-event-page .ui.grid #button-to-delete-event {
  margin-bottom: 15px;
}
.frame-of-button-to-event-page .ui.grid #button-to-delete-event a {
  color: white;
}

/*# sourceMappingURL=application.css.map */
