@charset "UTF-8";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html {
  height: 100%;
  margin: 0;
  padding: 0;
}
html body #container {
  position: relative;
  min-height: 100%;
  overflow: hidden;
  background-color: #f7faf2;
}
html body #container #main-content {
  padding-top: 80px;
  padding-bottom: 80px;
  margin-top: 14px;
  margin-bottom: 14px;
}

a {
  color: #000;
  text-decoration: none;
}

li {
  list-style: none;
}

@media screen and (min-width: 769px) {
  html body #container #main-content {
    padding-top: 180px;
  }
}
/********************************
  ヘッダー自体
********************************/
header {
  position: absolute;
  top: 0;
  height: 80px;
  width: 100%;
  border-top: solid 1px;
  border-bottom: solid 1px;
}

#header-title {
  margin-top: 20px;
}

.application-name {
  color: green;
  font-family: serif;
}

/********************************
  ハンバーガーメニュー
********************************/
#wrapper {
  width: 100%;
  font-size: 1.2rem;
  font-weight: 900;
  text-align: center;
}

#contents {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  transform: translateX(0);
  transition: .4s transform;
}

#contents {
  height: 1000px;
  background-color: #ddd;
}

#nav-btn {
  display: none;
  outline: none;
  margin-top: 7px;
}

.menu {
  z-index: 2 !important;
  border-bottom: solid 1px;
}
.menu ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 70px;
  background-color: #f7faf2;
  padding: 0;
}
.menu ul li {
  padding: 0 20px;
  transition: all .5s;
}
.menu ul li a {
  position: relative;
  display: inline-block;
  text-decoration: none;
}
.menu ul li a:after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background-color: #333;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .3s;
}
.menu ul li a:hover::after {
  transform: scale(1, 1);
}

@media screen and (max-width: 768px) {
  #nav-btn {
    display: block;
    position: fixed;
    z-index: 3;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
  }

  .hamburger {
    position: relative;
    display: block;
    width: 50px;
    height: 44px;
  }
  .hamburger .bdr {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #000;
    transition: all .5s;
  }
  .hamburger .bdr:nth-child(1) {
    top: 0;
  }
  .hamburger .bdr:nth-child(2) {
    top: 20px;
  }
  .hamburger .bdr:nth-child(3) {
    bottom: 0;
  }
  .hamburger.is-active .bdr {
    background-color: #000;
  }
  .hamburger.is-active .bdr:nth-child(1) {
    transform: translateY(20px) rotate(-45deg);
  }
  .hamburger.is-active .bdr:nth-child(2) {
    opacity: 0;
  }
  .hamburger.is-active .bdr:nth-child(3) {
    transform: translateY(-20px) rotate(45deg);
  }

  .menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 150px;
    height: 100%;
    padding-top: 70px;
    text-align: left;
    font-size: 13px;
    background-color: #eaf2f4;
    z-index: 1;
    transform: translateX(150px);
    transition: .4s all;
  }
  .menu ul {
    display: block;
    width: 150px;
    line-height: 70px;
    background: none;
    color: #000;
    text-align: center;
  }
  .menu ul li {
    transition: all .5s;
  }
  .menu ul li:hover {
    background-color: #fff;
  }
  .menu ul li a:after {
    display: none;
  }

  .nav-open .menu {
    transform: translateX(0);
  }
  .nav-open #contents {
    transform: translateX(-150px);
  }
}
footer {
  position: absolute;
  bottom: 0;
  height: 80px;
  width: 100%;
  border-top: solid 1px;
  border-bottom: solid 1px;
}

#social-medias {
  line-height: 100px;
  margin: auto;
}
#social-medias .one-of-the-social-medias {
  height: 20px;
  padding: 0;
  margin-top: 5px;
}

@media screen and (max-width: 768px) {
  #social-medias {
    width: 90% !important;
  }
}
@media screen and (min-width: 769px) {
  #social-medias {
    width: 50% !important;
  }
}
.ui.grid.flash-message {
  width: 87.5%;
  margin: auto;
}

.ui.grid.frame-of-error-message {
  width: 87.5%;
  margin: auto;
}
.ui.grid.frame-of-error-message .error-message li {
  list-style: decimal;
}

.ui.grid #what-is-this-application {
  margin-top: 50px;
  margin-bottom: 30px;
}
.ui.grid .toppage-divider {
  margin-top: 60px;
  margin-bottom: 60px;
}
.ui.grid .characteristics-of-application {
  margin-bottom: 30px;
}
.ui.grid #major-characteristics .one-of-the-characteristics {
  margin-bottom: 50px;
}
.ui.grid .use-for-trial {
  margin-bottom: 30px;
}
.ui.grid #frame-of-lets-search {
  margin-bottom: 30px;
}
.ui.grid #toppage-map {
  width: 80%;
  height: 300px;
  margin: auto;
  border: solid 1px #d2ccd0;
}
.ui.grid #search-address {
  margin-top: 30px;
  margin-bottom: 30px;
}
.ui.grid #map-explanation {
  margin-bottom: 30px;
}

@media screen and (min-width: 769px) {
  .ui.grid #what-is-this-application {
    margin-top: 25px;
  }
  .ui.grid #explanation-of-application {
    width: 62.5% !important;
    margin-right: auto;
    margin-bottom: 45px;
    margin-left: auto;
  }
  .ui.grid .toppage-divider {
    margin-top: 0;
  }
  .ui.grid #major-characteristics {
    width: 87.5%;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
  }
  .ui.grid #major-characteristics .one-of-the-characteristics {
    float: left;
    width: 33.3%;
  }
  .ui.grid #lets-search {
    width: 62.5% !important;
    margin: auto !important;
  }
  .ui.grid #toppage-map {
    width: 50%;
    height: 500px;
  }
  .ui.grid #map-explanation {
    width: 62.5% !important;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
  }
}
/********************************
	チュートリアル
********************************/
/** モーダルウィンドウ *********/
.modal {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;
}
.modal #modal-header {
  text-align: center;
}

/** カルーセル *****************/
#frame-of-carousel-image .carousel-image {
  margin-bottom: 0;
}
#frame-of-carousel-image .carousel-image .slick-list {
  height: 200px;
}
#frame-of-carousel-image .carousel-image .operation-image {
  height: 200px;
}

.ui.modal.scrolling .ui.grid {
  margin-top: 10px;
}
.ui.modal.scrolling .ui.grid .carousel-explanation {
  padding-top: 0;
}
.ui.modal.scrolling .slick-dotted .slick-dots {
  position: static;
}

/********************************
	イベント一覧
********************************/
/** イベント *****************/
#events-list-in-japanese {
  margin: 30px;
  font-weight: bolder;
  font-size: 20px;
}

#search-events {
  margin-top: 0;
  margin-bottom: 10px;
}

.various-events-list {
  margin-top: 20px;
  margin-bottom: 40px;
}
.various-events-list .frame-of-segment {
  padding-left: 0;
  margin: 0;
}
.various-events-list .frame-of-segment .segment {
  font-size: 12px;
}
.various-events-list .frame-of-segment .segment .events-list-image {
  width: 100%;
  border: solid 1px;
}
.various-events-list .frame-of-segment .segment .event-name {
  margin-top: 8px;
  font-size: 16px;
  font-weight: bolder;
}
.various-events-list .frame-of-segment .segment .event-created-at {
  text-align: right;
  margin-top: 10px;
}
.various-events-list .frame-of-segment .segment .event-organizer {
  margin-top: 15px;
}
.various-events-list .frame-of-segment .segment .detail-button,
.various-events-list .frame-of-segment .segment .like-button,
.various-events-list .frame-of-segment .segment .unlike-button {
  margin-top: 20px;
  margin-bottom: 10px;
}
.various-events-list .frame-of-segment .segment .detail-button .link-to-like,
.various-events-list .frame-of-segment .segment .detail-button .link-to-unlike,
.various-events-list .frame-of-segment .segment .like-button .link-to-like,
.various-events-list .frame-of-segment .segment .like-button .link-to-unlike,
.various-events-list .frame-of-segment .segment .unlike-button .link-to-like,
.various-events-list .frame-of-segment .segment .unlike-button .link-to-unlike {
  color: white;
}

.before-events,
.current-events,
.after-events {
  padding: 0;
}

@media screen and (min-width: 769px) {
  #events-list-in-japanese {
    margin-bottom: 60px;
  }

  .various-events-list .all-events,
  .various-events-list .my-events,
  .various-events-list .favorite-events,
  .various-events-list .before-events,
  .various-events-list .current-events,
  .various-events-list .after-events {
    width: 87.5%;
    margin-left: auto !important;
    margin-right: auto !important;
    overflow: hidden;
  }
  .various-events-list .all-events .each-event,
  .various-events-list .my-events .each-event,
  .various-events-list .favorite-events .each-event,
  .various-events-list .before-events .each-event,
  .various-events-list .current-events .each-event,
  .various-events-list .after-events .each-event {
    float: left;
    width: 33%;
    margin-top: 14px;
    margin-left: auto;
    margin-right: auto;
  }
  .various-events-list .favorite-link-icon,
  .various-events-list .detail-link-icon {
    display: none;
  }
}
/** イベントをふわっと出す *****/
.animated {
  opacity: 0;
}

/** ページトップへ戻るボタン ***/
.back-to-top {
  display: none;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 60px;
  height: 60px;
  background-color: #f0f0f0;
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
  line-height: 60px;
  color: #333;
  opacity: 0.6;
  transition: opacity 2.5s;
}
.back-to-top:hover {
  opacity: 1;
}

form .ui.grid .fourteen.wide.column #please-register-new {
  margin: 30px;
  font-weight: bolder;
  font-size: 20px;
}
form .ui.grid .fourteen.wide.column .ui.form .field {
  margin-bottom: 15px;
}
form .ui.grid .fourteen.wide.column .ui.form .field .ui.grid .signup-page-frame-of-label {
  padding-bottom: 0px;
}
form .ui.grid .fourteen.wide.column .ui.form .field .ui.grid .signup-page-frame-of-input {
  padding-top: 5px;
}
form .ui.grid .fourteen.wide.column .ui.form .field .ui.grid #signup-page-frame-of-signup {
  margin: 40px;
  margin-bottom: 30px;
}
form .ui.grid .fourteen.wide.column .ui.form .field .ui.grid #signup-page-frame-of-login {
  margin-top: 30px;
  margin-bottom: 60px;
}

@media screen and (max-width: 768px) {
  .depend-on-device {
    width: 100%;
  }
}
@media screen and (min-width: 769px) {
  form .ui.grid .fourteen.wide.column #please-register-new {
    margin-bottom: 60px;
  }
  form .ui.grid .fourteen.wide.column .depend-on-device {
    width: 75%;
    margin: auto;
  }
}
form .ui.grid .fourteen.wide.column #please-login {
  margin: 30px;
  font-weight: bolder;
  font-size: 20px;
}
form .ui.grid .fourteen.wide.column .ui.form .field {
  margin-bottom: 15px;
}
form .ui.grid .fourteen.wide.column .ui.form .field .ui.grid .login-page-frame-of-label {
  padding-bottom: 0;
}
form .ui.grid .fourteen.wide.column .ui.form .field .ui.grid .login-page-frame-of-input {
  padding-top: 5px;
}
form .ui.grid .fourteen.wide.column .ui.form .field .ui.grid #always-login {
  padding-top: 10px;
}
form .ui.grid .fourteen.wide.column .ui.form #login-page-frame-of-login {
  margin-top: 40px;
  margin-right: 40px;
  margin-bottom: 30px;
  margin-left: 40px;
}
form .ui.grid .fourteen.wide.column .ui.form #login-page-frame-of-signup {
  margin-top: 30px;
  margin-bottom: 60px;
}

@media screen and (max-width: 768px) {
  .depend-on-device {
    width: 100%;
  }
}
@media screen and (min-width: 769px) {
  form .ui.grid .fourteen.wide.column #please-login {
    margin-bottom: 60px;
  }
  form .ui.grid .fourteen.wide.column .depend-on-device {
    width: 75%;
    margin: auto;
  }
  form .ui.grid .fourteen.wide.column #always-login {
    padding-top: 0px;
  }
}
form .ui.grid .fourteen.wide.column #please-update-user-information {
  margin: 30px;
  font-weight: bolder;
  font-size: 20px;
}
form .ui.grid .fourteen.wide.column .ui.form .field {
  margin-bottom: 15px;
}
form .ui.grid .fourteen.wide.column .ui.form .field .ui.grid .user-update-page-frame-of-label {
  padding-bottom: 0;
}
form .ui.grid .fourteen.wide.column .ui.form .field .ui.grid .user-update-page-frame-of-input {
  padding-top: 5px;
}
form .ui.grid .fourteen.wide.column .ui.form #user-update-page-frame-of-update {
  margin-top: 40px;
  margin-right: 40px;
  margin-bottom: 60px;
  margin-left: 40px;
}

@media screen and (max-width: 768px) {
  .depend-on-device {
    width: 100%;
  }
}
@media screen and (min-width: 769px) {
  form .ui.grid .fourteen.wide.column #please-update-user-information {
    margin-bottom: 60px;
  }
  form .ui.grid .fourteen.wide.column .depend-on-device {
    width: 75%;
    margin: auto;
  }
}
form .ui.grid .fourteen.wide.column #please-password-reset {
  margin: 30px;
  font-weight: bolder;
  font-size: 20px;
}
form .ui.grid .fourteen.wide.column .ui.grid .column #procedure-of-password-reset {
  margin-top: 10px;
  margin-bottom: 25px;
  font-weight: bolder;
  text-align: center;
}
form .ui.grid .fourteen.wide.column .ui.grid .column .step-of-password-reset {
  margin-top: 30px;
  margin-bottom: 15px;
}
form .ui.grid .fourteen.wide.column .ui.form {
  margin-top: 40px;
}
form .ui.grid .fourteen.wide.column .ui.form #password-reset-page-frame-of-submit {
  margin-top: 40px;
  margin-right: 40px;
  margin-bottom: 60px;
  margin-left: 40px;
}

@media screen and (max-width: 768px) {
  .depend-on-device {
    width: 100%;
  }
}
@media screen and (min-width: 769px) {
  form .ui.grid .fourteen.wide.column #please-password-reset {
    margin-bottom: 60px;
  }
  form .ui.grid .fourteen.wide.column .depend-on-device {
    width: 75%;
    margin: auto;
  }
}
form .ui.grid .fourteen.wide.column #please-password-update {
  margin: 30px;
  font-weight: bolder;
  font-size: 20px;
}
form .ui.grid .fourteen.wide.column .ui.form .field {
  margin-bottom: 15px;
}
form .ui.grid .fourteen.wide.column .ui.form #password-reset-page-frame-of-update {
  margin-top: 40px;
  margin-right: 40px;
  margin-bottom: 60px;
  margin-left: 40px;
}

@media screen and (max-width: 768px) {
  .password-update-form-depend-on-device {
    width: 100% !important;
  }
}
@media screen and (min-width: 769px) {
  form .ui.grid .fourteen.wide.column #please-password-update {
    margin-bottom: 60px;
  }
  form .ui.grid .fourteen.wide.column .password-update-form-depend-on-device {
    width: 50% !important;
    margin: auto;
  }
}
form .ui.grid .fourteen.wide.column #please-inquire {
  margin: 30px;
  font-weight: bolder;
  font-size: 20px;
}
form .ui.grid .fourteen.wide.column .ui.form .field {
  margin-bottom: 15px;
}
form .ui.grid .fourteen.wide.column .ui.form .field .ui.grid .inquiry-page-frame-of-label {
  padding-bottom: 0;
}
form .ui.grid .fourteen.wide.column .ui.form .field .ui.grid .inquiry-page-frame-of-input {
  padding-top: 5px;
}
form .ui.grid .fourteen.wide.column .ui.form .field .ui.grid #inquiry-page-frame-of-submit {
  margin-top: 30px;
  margin-bottom: 60px;
}

@media screen and (max-width: 768px) {
  .depend-on-device {
    width: 100%;
  }
}
@media screen and (min-width: 769px) {
  form .ui.grid .fourteen.wide.column #please-inquire {
    margin-bottom: 60px;
  }
  form .ui.grid .fourteen.wide.column .depend-on-device {
    width: 75%;
    margin: auto;
  }
}
form .ui.grid .fourteen.wide.column #please-post-or-update-event {
  margin: 30px;
  font-weight: bolder;
  font-size: 20px;
}
form .ui.grid .fourteen.wide.column .ui.form .field .ui.grid .frame-of-input-price,
form .ui.grid .fourteen.wide.column .ui.form .field .ui.grid .frame-of-input-date {
  padding: 0 !important;
}
form .ui.grid .fourteen.wide.column .ui.form .field .ui.grid #frame-of-price {
  padding-bottom: 0;
}
form .ui.grid .fourteen.wide.column .ui.form .field .ui.grid .frame-of-input-price {
  padding-left: 14px !important;
}
form .ui.grid .fourteen.wide.column .ui.form .field .ui.grid .yen-in-japanese,
form .ui.grid .fourteen.wide.column .ui.form .field .ui.grid .date-in-japanese {
  padding: 0 !important;
}
form .ui.grid .fourteen.wide.column .ui.form .field .ui.grid .yen-in-japanese {
  padding-left: 10px !important;
}
form .ui.grid .fourteen.wide.column .ui.form .field .ui.grid .frame-of-input-date .input-year,
form .ui.grid .fourteen.wide.column .ui.form .field .ui.grid .frame-of-input-date .input-hour,
form .ui.grid .fourteen.wide.column .ui.form .field .ui.grid .frame-of-input-date .input-month,
form .ui.grid .fourteen.wide.column .ui.form .field .ui.grid .frame-of-input-date .input-day,
form .ui.grid .fourteen.wide.column .ui.form .field .ui.grid .frame-of-input-date .input-minute {
  padding: 5px;
}
form .ui.grid .fourteen.wide.column .ui.form .field .ui.grid .frame-of-input-date .input-year .input-event-date,
form .ui.grid .fourteen.wide.column .ui.form .field .ui.grid .frame-of-input-date .input-hour .input-event-date,
form .ui.grid .fourteen.wide.column .ui.form .field .ui.grid .frame-of-input-date .input-month .input-event-date,
form .ui.grid .fourteen.wide.column .ui.form .field .ui.grid .frame-of-input-date .input-day .input-event-date,
form .ui.grid .fourteen.wide.column .ui.form .field .ui.grid .frame-of-input-date .input-minute .input-event-date {
  padding: 10px;
}
form .ui.grid .fourteen.wide.column .ui.form .field .ui.grid .frame-of-input-date .input-year,
form .ui.grid .fourteen.wide.column .ui.form .field .ui.grid .frame-of-input-date .input-hour {
  padding-left: 14px;
}
form .ui.grid .fourteen.wide.column .ui.form .field .ui.grid .event-picture {
  padding-top: 0px;
}
form .ui.grid .fourteen.wide.column .ui.form .ui.grid #event-update-page-frame-of-submit {
  margin-top: 40px;
  margin-right: 40px;
  margin-bottom: 60px;
  margin-left: 40px;
}

@media screen and (max-width: 768px) {
  .depend-on-device {
    width: 100%;
  }
}
@media screen and (min-width: 769px) {
  form .ui.grid .fourteen.wide.column #please-post-or-update-event {
    margin-bottom: 60px;
  }
  form .ui.grid .fourteen.wide.column .depend-on-device {
    width: 50%;
    margin: auto;
  }
}
.ui.grid #frame-of-event-details-image {
  padding-top: 5px;
  padding-bottom: 0px;
}
.ui.grid .fourteen.wide.column #event-details-image {
  width: 100%;
  padding: 5px;
  margin-top: 20px;
  border: solid 1px;
}
.ui.grid .fourteen.wide.column #event-name {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: bolder;
}
.ui.grid .fourteen.wide.column #event-created-or-updated-date {
  margin-bottom: 5px;
}
.ui.grid .fourteen.wide.column #event-place {
  margin-bottom: 20px;
}
.ui.grid .fourteen.wide.column #event-price {
  margin-bottom: 20px;
}
.ui.grid .fourteen.wide.column .subheading-of-event-details {
  margin-bottom: 10px;
  font-size: 18px;
}

#event-detail-page-map {
  width: 80%;
  height: 300px;
  margin: auto;
  border: solid 1px #d2ccd0;
}

.frame-of-button-to-event-page {
  margin-top: 25px;
  margin-bottom: 35px;
}
.frame-of-button-to-event-page .ui.grid #button-to-events-list,
.frame-of-button-to-event-page .ui.grid #button-to-edit-event {
  margin-bottom: 15px;
}
.frame-of-button-to-event-page .ui.grid #button-to-events-list a,
.frame-of-button-to-event-page .ui.grid #button-to-edit-event a {
  color: gray;
}
.frame-of-button-to-event-page .ui.grid #button-to-delete-event {
  margin-bottom: 20px;
}
.frame-of-button-to-event-page .ui.grid #button-to-delete-event a {
  color: white;
}

@media screen and (min-width: 769px) {
  .ui.grid #frame-of-event-details-image {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
  }
  .ui.grid .fourteen.wide.column #event-details-image {
    width: 50%;
    margin-top: 0px;
  }

  #event-detail-page-map {
    width: 50%;
    height: 500px;
  }
}

/*# sourceMappingURL=application.css.map */
