<% if model.errors.any? %>
  <div class="ui negative message">
    <i class="close icon"></i>
    <ul>
      <% model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
