<footer>
  <div class="ui middle aligned center aligned grid">
    <div id="social-medias" class="fourteen wide column">
      <div class="ui center aligned grid">
        <div class="one-of-the-social-medias three wide column">
          <%= link_to "https://twitter.com/intent/tweet?url=http://yahoo.co.jp&text=テスト", class: "ui circular twitter icon button" do %>
            <i class="twitter icon"></i>
          <% end %>
        </div>
        <div class="one-of-the-social-medias three wide column">
          <%= link_to "https://www.facebook.com/sharer/sharer.php?u=http://yahoo.co.jp", class: "ui circular facebook icon button" do %>
            <i class="facebook icon"></i>
          <% end %>
        </div>
        <div class="one-of-the-social-medias three wide column">
          <%= link_to "http://www.linkedin.com/shareArticle?mini=true&url=http://yahoo.co.jp", class: "ui circular linkedin icon button" do %>
            <i class="linkedin icon"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</footer>
